<h1><%= link_to 'Go to catalog', catalog_path %></h1>

<h1>Bookshop management</h1>

<ul>
	<li><%= link_to 'Books', books_path %></li>
	<li><%= link_to 'Categories', categories_path %></li>
	<li><%= link_to 'Authors', authors_path %></li>
</ul>